/* You can add global styles to this file, and also import other style files */
@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss/mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Rationale&family=Roboto:ital,wght@0,300;0,900;1,300&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.scroller {
  width: 95%;
  height: 50px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
